{% extends "base.html" %}
{% load staticfiles i18n %}

{% block running_title %}
    Welcome
{% endblock %}
{% block presentation_title %}
    Welcome!
{% endblock %}

{% block slides %}
<section>
    <h2>Learn web development. Build awesome things.</h2>
    <p>
        You quit your job, you told your friends and family you're doing something crazy, maybe you moved here. You're ready to learn, intensively, for the next twelve weeks. By the time you're done, you'll be able to build pretty much anything you see on the internet.
    </p>
</section>

<section>
    <section>
        <h2>What you'll be learning</h2>
        <p>When you leave you'll be full-fledged web developers able to contribute immediately to a team from front-end to back-end. We've broken your learning into a few modules to help get you there.</p>
        <ul>
            <li><a href="#/2/1">Prework</a></li>
            <li><a href="#/2/2">Object-Oriented Python and Beginner Django</a></li>
            <li><a href="#/2/3">Integrating JavaScript and Design</a></li>
            <li><a href="#/2/4">Expand Your Developer Toolkit</a></li>
            <li><a href="#/2/5">AngularJS and Building Custom APIs</a></li>
            <li><a href="#/2/6">Prepping for Life After Bootcamp</a></li>
        </ul>
    </section>
    <section>
        <h2>Prework</h2>
        <p>Get the foundations under your belt so we can hit the ground running. We'll point you in the right direction to take all the confusion out of learning on your own. Don't worry, we'll keep building on these skills during the course and teach you best practices.</p>
        <ul>
            <li>Command Line: Give your computer instructions like a real programmer</li>
            <li>HTML: Learn the basic building blocks of the front-facing web</li>
            <li>CSS: Start understanding separation of concerns and building beautiful web sites with CSS</li>
            <li>Git: Version control is a lifesaver</li>
            <li>Basic functional Python: Write your first Python programs with variables, loops, functions, and conditional statements</li>
            <li>Project: Build your personal website: Give your friends (and yourself) a taste of what you'll be working on by building your personal website. This will eventually turn into the portfolio site you use to show off your future projects</li>
            <li>Installfest: Come meet your instructors and fellow bootcampers and make sure your computer is set up for the next twelve weeks</li>
        </ul>
    </section>
    <section>
        <h2>Object-oriented Python and Beginner Django</h2>
        <ul>
            <li>Object-oriented Python: Solidify the Python concepts you learned during your prework. Learn about object-oriented vs. functional programming, instantiating new objects, and debugging your Python code.</li>
            <li>Intermediate Python: Become a Pythonista. Learn about inheritance, mixins, metaclasses, and decorators</li>
            <li>Relational databases and introductory SQL: Understand the value of relational dataabases and learn basic SQL</li>
            <li>Django ORM: Combine your knowledge of Python classes and databases to build relational models and manipulate a database with the Django ORM (object-relational mapper)</li>
            <li>Beginner Django: Learn about MVC (model-view-controller), the software pattern behind Django, Rails, and much of modern web development. Build applications that have multiple models and use Django's advanced templating system. Learn how user authentication works and how to include it in your apps.</li>
            <li>Project: Build a Django application with user authentication and database storage</li>
        </ul>
    </section>
    <section>
        <h2>Integrating JavaScript and Design</h2>
        <ul>
            <li>JavaScript and jQuery: Leverage your Python programming knowledge and learn JavaScript syntax. Manipulate the DOM with pure JavaScript. Use jQuery to supercharge your JavaScript, add animations, and build interactive web pages.</li>
            <li>AJAX, JSON, and XML: Send asynchronous server requests to make your sites faster and bring in content from third-party applications</li>
            <li>Integrating JavaScript with your Django applications: Take your Django apps to the next level with interactive JavaScript</li>
            <li>Using third-party APIs: Query external services like Google and Instagram</li>
            <li>Responsive design principles and using Bootstrap: Learn basic design principles to give you apps polish. Understand grids and the responsive patterns that allow a single site to live on desktop, tablet, and mobile. Learn Bootstrap, the responsive library that powers much of the internet.</li>
            <li>Project: Integrate front-end technologies for a more interactive Django application</li>
        </ul>
    </section>
    <section>
        <h2>Expand Your Developer Toolkit</h2>
        <ul>
            <li>Pair programming</li>
            <li>Git strategies</li>
            <li>Test-driven development</li>
            <li>HTTP lifecycle</li>
            <li>Computer science topics</li>
            <li>Introduction to dev ops</li>
            <li>Analytics and error reporting</li>
            <li>Project: Work in a group to build a test-driven Django application</li>
        </ul>
    </section>
    <section>
        <h2>AngularJS and Building Custom APIs</h2>
        <ul>
            <li>Basics of AngularJS</li>
            <li>Build a Basecamp clone with AngularJS</li>
            <li>Building your own custom API with Django and Tastypie</li>
            <li>Integrating Django with AngularJS</li>
            <li>Final Project: Demonstrate mastery with Django and AngularJS</li>
        </ul>
    </section>
    <section>
        <h2>Prepping for Life After Bootcamp</h2>
        <ul>
            <li>Interview Prep</li>
            <li>Presentation Prep</li>
            <li>Development ecosystem</li>
        </ul>
        <p><a href="#/2">Back to top</a></p>
    </section>
</section>

<section>
    <h2>More than an education</h2>
    <p>There are a lot of bootcamps out there. At RocketU, you'll be surrounded by the 170+ amazing tech startups at RocketSpace.</p>
    <br>
    <img src="{% static "img/rocketspace-name-logo-large-300x116.png" %}" id="rocketSpaceLogo">
</section>

<section>
    <section>
        <h2>A network of your own</h2>
        <p>
            RocketSpace will open its network to you, but the most important connections you'll make during your bootcamp time will be the people you're with. You're all here to build and to change your lives. Get ready to spend a lot of time with these people.
        </p>
    </section>
    <section>
        <h2>RocketSpace staff</h2>
    </section>
    <section>
        <h2>Your instructors</h2>
        <h4>Yeti</h4>
        <div>
            <ul>
                <li><a href="http://www.yetihq.com/company/#companyPictures" target="_blank">yetihq.com</a></li>
                <li>Web applications</li>
                <li>Native mobile applications</li>
                <li>Designers, developers, strategists</li>
            </ul>
        </div>
        <div class="col-8 col-offset-2">
            <img src="{% static "img/presentations/logos.png" %}"
        </div>
    </section>
    <section>
        <h2>Your classmates</h2>
        <ul>
            <li>A brain</li>
            <li>An athlete</li>
            <li>A basket case</li>
            <li>A princess</li>
            <li>And a criminal</li>
        </ul>
        <p><a href="#/4">Back to top</a></p>
    </section>

    <!-- To see speaker notes, hit 's' on your keyboard -->
    <aside class="notes">
        This slide will change per class (locations, instructors, etc.). Would be great if classmates list linked out to the personal websites everyone is supposed to make.
    </aside>
</section>
<section>
    <h2>Prove you can program.</h2>
    <p>
        First things first: let's make sure everyone is comfortable with the Python prework you did. Instead of a boring review lecture, try out these challenge problems. They range from easy to difficult and will test you on variables, loops, data structures, conditionals, and functions. They can be pretty fun, and they are similar to questions you might be asked in an interview. These types of problems are often referred to as "FizzBuzz", after one of the best known ones (you'll know it when you see it).
    </p>
    <p>
        Do not look up solutions online! But feel free to use the internet to refresh yourself on Python syntax or built-in methods. Don't let yourself get stuck on a single question. See how far you can get with these:
    </p>
    <ul>
        <li><a target="_blank" href="http://codingbat.com/python">Coding Bat</a></li>
        <li><a target="_blank" href="http://www.pythonchallenge.com/">Python Challenge</a></li>
        <li><a target="_blank" href="http://www.coderbyte.com/">Coderbyte</a></li>
    </ul>
</section>

{% endblock %}