{% extends "teacher/teacher_base.html" %}
{% load i18n future staticfiles %}
{% block teacher_content %}

<div class="container">
    <div class="row">
        <div align="center" class="col-xs-12">
            <img class="icon" src="{% static 'img/Assets/Exclamation-hollow.png' %}" alt=""/>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div align="center" class="col-xs-12">
            <h4 class="header help">{{ not_helped | length }} Need{% if not_helped == 1 %}s{% endif %} Help</h4>
            <hr class="help help-header-hr">
        </div>
    </div>
</div>
<div class="container scroll-help">
    <div class="row">
        <div align="center" class="col-xs-12">
            {% for help in not_helped %}
                <div class="col-xs-2 user-photo-div">
                    <img class="img-circle user-photo" src="{{ help.profile.image.url }}">
                </div>
                <div class="col-xs-10">
                    <h3 class="user-name">{{ help.profile }}</h3>
                    <h3 class="time">{{ help.time|date:"g:iA, F d" }}</h3>
                </div>
                <div class="col-xs-12 help-status">
                    <button class="help-button"><span class="status-text">Helped?</span></button>
                </div>
            {% endfor %}
            {% for help in helped %}
                <div class="col-xs-2 user-photo-div">
                    <img class="img-circle user-photo" src="{{ help.profile.image.url }}">
                </div>
                <div class="col-xs-10">
                    <h3 class="user-name">{{ help.profile }}</h3>
                    <h3 class="time">{{ help.time|date:"g:iA, F d" }}</h3>
                </div>
                <div class="col-xs-12 help-status">
                    <button class="help-button"><span class="status-text">Helped!</span></button>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}