{% load i18n future staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}</title>
    <meta name="author" content="Yeti LLC">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{% static "css/reveal.min.css" %}">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="{% static "css/zenburn.css" %}">
    <link rel="stylesheet" href="{% static "css/teacher.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">

    <link rel="stylesheet/less" type="text/css" media="all" href="{% static "less/style.less" %}" />
    <script src="{% static "js/less-1.7.0.min.js" %}"></script>
    <script src="{% static "js/jquery-1.11.1.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/profile.js" %}"></script>
    <script src="{% static "js/teacher.js" %}"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div align="center" class="col-xs-12">
            <img class="help-icon" src="{% static 'img/Assets/Exclamation-hollow.png' %}" alt=""/>
        </div>
    </div>
    <div class="row">
        <div align="center" class="col-xs-12">
            <h4 class="help-header">{{ help | length }} Needs Help</h4>
            <h4 class="help-header">{{ done | length }} Needs Help</h4>
            <hr class="help-header-hr">
        </div>
    </div>
</div>
<div class="container help-scroll">
    <div class="row">
        <div align="center" class="col-xs-12">
            {% for student in action.need_help.all %}
                <div class="col-xs-2 user-photo-div">
                    <img class="img-circle user-photo" src="{{ student.profile.image.url }}">
                </div>
                <div class="col-xs-10">
                    <h3 class="user-name">{{ student.profile }}</h3>
                    <h3 class="time">{{ student.time }}</h3>
                </div>
                <div class="col-xs-12 help-status">
                    <button class="help-button"><span class="help-text">Helped?</span></button>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

</body>
</html>

