{% load i18n future staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}</title>
    <meta name="author" content="Yeti LLC">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{% static "css/reveal.min.css" %}">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="{% static "css/zenburn.css" %}">
{#    <link rel="stylesheet" href="{% static "css/teacher.css" %}">#}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">

    <link rel="stylesheet/less" type="text/css" media="all" href="{% static "less/style.less" %}" />
    <link rel="stylesheet" href="{% static "css/teacher_base.css" %}">
    <script src="{% static "js/less-1.7.0.min.js" %}"></script>
    <script src="{% static "js/jquery-1.11.1.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/profile.js" %}"></script>
    <script src="{% static "js/teacher.js" %}"></script>
</head>
<body>
<div class="container scroll">

    {% if user.is_student == False %}

            <h4 class="week-info">Week {{ name.week }} - {{ name.day }}{% if name.am_pm == 0 %}am{% elif name.am_pm == 1 %}pm{% endif %}</h4>
            <h2 class="slide-name">{{ name.topic }}</h2>
            <hr class="main-hr">

            <dl class="accordion">
                {% for item in return_list %}
                    <dt>
                        <h2 class="slide-title" id="closed-title">{{ item.slide.name }}<img class="open-arrow open-arrow-icon" src="{% static 'img/Assets/drop-arrow.png' %}" alt=""/><img class="arrow-icon-closed closed-arrow" src="{% static 'img/Assets/arrow-open.png' %}" alt=""/></h2>
                        <hr class="divider-hr-main closed">
                        <hr class="divider-hr open">
                    </dt>

                    <dd>
                        <div>
                            <a href="{% url 'teacher_done' item.slide.url %}"><p class="status-info done top-info">{{ item.done }} <span class="status-info status-text">done</span><img class="icon pull-right" src="{% static 'img/Assets/Checkmark-HOLLOW.png' %}" alt=""/></p></a>
                            <hr class="divider-hr">
                            <a href="{% url 'teacher_question' item.slide.url %}"><p class="status-info question">{{ item.questions }} <span class="status-info status-text">{% if item.questions == 1 %}question{% else %}questions{% endif %}</span><img class="icon pull-right" src="{% static 'img/Assets/Questionmark-hollow.png' %}" alt=""/></p></a>
                            <hr class="divider-hr">
                            <a href="{% url 'teacher_help' item.slide.url %}"><p class="status-info help">{{ item.need_help }} <span class="status-info status-text">{% if item.need_help == 1 %}needs help{% else %}need help{% endif %}</span><img class="icon pull-right" src="{% static 'img/Assets/Exclamation-hollow.png' %}" alt=""/></p></a>
                            <hr class="divider-hr open-full">
                        </div>
                    </dd>
                {% endfor %}

            </dl>

            {% else %}
            <h1>Please Log in as a teacher to see this page</h1>
            <h2>If you are a teacher and need to see this page, someone messed up! Log in as the admin and change the is_student attribute to False</h2>
            <img width="60%" src="http://crushedtees.com/ebay/1600x1600/gobackwemessedup_large.jpg">

    {% endif %}
</div>

<script src="/static/js/teacher_index.js"></script>

</body>
</html>