{% load i18n future staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <title>{% block meta_title %}{% endblock %}</title>
    <meta name="author" content="Yeti LLC">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="{% static "css/reveal.min.css" %}">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="{% static "css/zenburn.css" %}">
    <link rel="stylesheet" href="{% static "css/teacher.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">

    <link rel="stylesheet/less" type="text/css" media="all" href="{% static "less/style.less" %}" />
    <script src="{% static "js/less-1.7.0.min.js" %}"></script>
    <script src="{% static "js/jquery-1.11.1.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/profile.js" %}"></script>
    <script src="{% static "js/teacher.js" %}"></script>
{% block teacher_head %}
{% endblock %}
</head>

<body>
{% block teacher_content %}
{% endblock %}
</body>
</html>