<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% if user.is_student == False %}
    <h1>Week {{ name.week }} - {{ name.day }}{% if name.am_pm == 0 %}am{% elif name.am_pm == 1 %}pm</h2>{% endif %}</h1>
    <h2>{{ name.topic }}</h2>

{% for item in return_list %}
    <p>{{ item.slide.name }}</p>
    {{ item.slide.slide_number }}
    <a href="{% url 'teacher_done' item.slide.url %}"><p>{{ item.done }} done</p></a>
    <a href="{% url 'teacher_question' item.slide.url %}"><p>{{ item.questions }} questions</p></a>
    <a href="{% url 'teacher_help' item.slide.url %}"><p>{{ item.need_help }} needs help</p></a>
{% endfor %}
    {% else %}
    <h1>Please Log in as a teacher to see this page</h1>
    <h2>If you are a teacher and need to see this page. Someone messed up! Log in as the admin and change the is_student attribute to False</h2>
    <img width="60%" src="http://crushedtees.com/ebay/1600x1600/gobackwemessedup_large.jpg">
{% endif %}
</body>
</html>