{% extends "base_user.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Log In
{% endblock %}

{% block content %}
    <div id="login_window">
        <form id=login_form" method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Log in">
        </form>

        <p>Not member? <a href="{% url 'register' %}">Register!</a></p>
        <p>Forgot your password? <a href="{% url 'password_reset' %}">Click here</a></p>
    </div>
{% endblock %}




