{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Slide Home</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <script src="{% static "js/jquery-1.11.1.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>

</head>
<body>
<div class="container">
    <h1>Welcome to the slides!</h1>
    <div class="col-6">
        <dl class="accordion">

{#register/login#}
            <div class="pull-right">
                {% if user.is_authenticated %}
                    {% if user.is_student %}
                        <b>"student"</b>
                    {% else %}
                        <b>"teacher"</b>
                    {% endif %}
                    <span><a href='{% url "edit_account" %}'>{{ user.real_name }} </a></span>
                    {% if user.image %}
                        <span><a href="{% url "edit_account" %}"><img height="50" width="50" class="img-circle" src='{{ user.image.url }}'></a></span>
                    {% else %}
                        <span><a href="{% url "edit_account" %}"><img height="50" width="50" src="{% static "img/Assets/default-profile-photo.png" %}"></a></span>
                    {% endif %}
                        <button class="btn btn-default"><a href='{% url "profile" %}'>Profile</a></button>
                        <button class="btn btn-default"><a href="{% url 'logout' %}">Logout</a></button>
                {% else %}
                    <button class="btn btn-default"><a href='{% url "register" %}'>Register</a></button>
                    <button class="btn btn-default"><a href='{% url "login" %}'>Log-In</a></button>
                {% endif %}
            </div>



            <dt>Week 1</dt>
            <dd>
                <ul>
                    <li><a href="{% url "week1_day1" %}">Welcome and Introductions</a> | <p>Teacher Entry</p></li>
                    <li><a href="{% url "week1_day2" %}">Python Programs</a></li>
                    <li><a href="{% url "week1_day3" %}">Object-Oriented Python I</a></li>
                    <li><a href="{% url "week1_day4_am" %}">Object-Oriented Python II: Inheritance</a></li>
                    <li><a href="{% url "week1_day4_pm" %}">Object-Oriented Python II: Methods</a></li>
                </ul>
            </dd>
            <dt>Week 2</dt>
            <dd>
                <ul>
                    <li><a href="{% url "week2_day1_am" %}">File Manipulation</a></li>
                    <li><a href="{% url "week2_day1_pm" %}">Regex & CSV</a></li>
                    <li><a href="{% url "week2_day2_am" %}">Intro to Databases: Tables and Queries</a></li>
                    <li><a href="{% url "week2_day2_pm" %}">Intro to Databases: Functions & Relationships</a></li>
                    <li><a href="{% url "week2_day3_am" %}">ORM: Intro to Models</a></li>
                    <li><a href="{% url "week2_day3_pm" %}">ORM: Models and Relationships</a></li>
                    <li><a href="{% url "week2_day4_am" %}">Django Admin</a></li>
                    <li><a href="{% url "week2_day4_pm" %}">Migrations</a></li>
                    <li><a href="{% url "week2_day5_am" %}">Introduction to Web Frameworks and Django URLS, views, and templates</a></li>
                    <li><a href="{% url "week2_day5_pm" %}">Basic Django App: index, create, detail</a></li>
                </ul>
            </dd>
            <dt>Week 3</dt>
            <dd>
                <ul>
                    <li><a href="{% url "week3_day1_am" %}">Basic Django App: edit, delete</a></li>
                    <li><a href="{% url "week3_day1_pm" %}">Django Forms</a></li>
                    <li><a href="{% url "week3_day2_am" %}">Django Templating: Logic, Filters, and Tags</a></li>
                    <li><a href="{% url "week3_day2_pm" %}">Django Templating: Inheritance and Static Files</a></li>
                    <li><a href="{% url "week3_day3_am" %}">Users: Built-In Django Auth</a></li>
                    <li><a href="{% url "week3_day3_pm" %}">Users: Customizing and Relationships</a></li>
                    <li><a href="{% url "week3_lab" %}">Lab: Django App</a></li>
                </ul>
            </dd>
        </dl>
    </div>
</div>
</body>
</html>