 {% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Slide Home</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <script src="{% static "js/jquery-1.11.1.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>

</head>
<body>
<div class="container">
    <h1>Welcome to the slides!</h1>
    <div class="col-6">
        <dl class="accordion">

{#register/login#}
            <div class="pull-right">
                {% if user.is_authenticated %}
                    {% if user.is_student %}
                        <b>"student"</b>
                    {% else %}
                        <b>"teacher"</b>
                    {% endif %}

                    <span><a href='{% url "account" %}'>{{ user.real_name }} </a></span>
{#                    {% if user.image %}#}
                        <span><a href="{% url "account" %}"><img height="50" width="50" class="img-circle" src='{{ user.image.url }}'></a></span>
{#                    {% else %}#}
{#                        <span><a href="{% url "account" %}"><img height="50" width="50" src="{% static "img/Assets/../../static/default-profile-photo.png" %}"></a></span>#}
{#                    {% endif %}#}
                        <a href='{% url "account" %}'><button class="btn btn-default">Account</button></a>
                        <a href="{% url 'logout' %}"><button class="btn btn-default">Logout</button></a>
                {% else %}
                    <a href='{% url "register" %}'><button class="btn btn-default">Register</button></a>
                    <a href='{% url "login" %}'><button class="btn btn-default">Log-In</button></a>
                {% endif %}
            </div>


            {% if user.is_student == False %}
            <dl class="accordion">
            <dt><h3>Week 1</h3></dt>
            <dd>
                <ul>
                    <li><a href="{% url "week1_day1" %}"> Welcome and Introductions</a> | <a href="{% url "teacher" "1" "1" "2" %}">Teacher Entry</a></li> {# in order of week 1, day 1 and am=0, pm=1, neither =2 #}
                    <li><a href="{% url "week1_day2" %}">Python Programs</a> | <a href="{% url "teacher" "1" "2" "2" %}">Teacher Entry</a></li>
                    <li><a href="{% url "week1_day3" %}">Object-Oriented Python I</a> | <a href="{% url "teacher" "1" "3" "2" %}">Teacher Entry</a></li>
                    <li><a href="{% url "week1_day4_am" %}">Object-Oriented Python II: Inheritance</a> | <a href="{% url "teacher" "1" "4" "0" %}">Teacher Entry</a></li>
                    <li><a href="{% url "week1_day4_pm" %}">Object-Oriented Python II: Methods</a> | <a href="{% url "teacher" "1" "4" "1" %}">Teacher Entry</a></li>
                </ul>
            </dd>
            <dt><h3>Week 2</h3></dt>
            <dd>
                <ul>
                    <li><a href="{% url "week2_day1_am" %}">File Manipulation</a> | <a href="{% url "teacher" "2" "1" "0" %}">Teacher Entry</a></li>
                    <li><a href="{% url "week2_day1_pm" %}">Regex & CSV</a> | <a href="{% url "teacher" "2" "1" "1" %}">Teacher Entry</a></li>
                    <li><a href="{% url "week2_day2_am" %}">Intro to Databases: Tables and Queries</a> | <a href="{% url "teacher" "2" "2" "0" %}">Teacher Entry</a></li>
                    <li><a href="{% url "week2_day2_pm" %}">Intro to Databases: Functions & Relationships</a> | <a href="{% url "teacher" "2" "2" "1" %}">Teacher Entry</a></li>
                    <li><a href="{% url "week2_day3_am" %}">ORM: Intro to Models</a> | <a href="{% url "teacher" "2" "3" "0" %}">Teacher Entry</a></li>
                    <li><a href="{% url "week2_day3_pm" %}">ORM: Models and Relationships</a> | <a href="{% url "teacher" "2" "3" "1" %}">Teacher Entry</a></li>
                    <li><a href="{% url "week2_day4_am" %}">Django Admin</a> | <a href="{% url "teacher" "2" "4" "0" %}">Teacher Entry</a></li>
                    <li><a href="{% url "week2_day4_pm" %}">Migrations</a> | <a href="{% url "teacher" "2" "4" "1" %}">Teacher Entry</a></li>
                    <li><a href="{% url "week2_day5_am" %}">Introduction to Web Frameworks and Django URLS, views, and templates</a> | <a href="{% url "teacher" "2" "5" "0" %}">Teacher Entry</a></li>
                    <li><a href="{% url "week2_day5_pm" %}">Basic Django App: index, create, detail</a> | <a href="{% url "teacher" "2" "5" "1" %}">Teacher Entry</a></li>
                </ul>
            </dd>
            <dt><h3>Week 3</h3></dt>
            <dd>
                <ul>
                    <li><a href="{% url "week3_day1_am" %}">Basic Django App: edit, delete</a> | <a href="{% url "teacher" "3" "1" "0" %}">Teacher Entry</a></li>
                    <li><a href="{% url "week3_day1_pm" %}">Django Forms</a> | <a href="{% url "teacher" "3" "1" "1" %}">Teacher Entry</a></li>
                    <li><a href="{% url "week3_day2_am" %}">Django Templating: Logic, Filters, and Tags</a> | <a href="{% url "teacher" "3" "2" "0" %}">Teacher Entry</a></li>
                    <li><a href="{% url "week3_day2_pm" %}">Django Templating: Inheritance and Static Files</a> | <a href="{% url "teacher" "3" "2" "1" %}">Teacher Entry</a></li>
                    <li><a href="{% url "week3_day3_am" %}">Users: Built-In Django Auth</a> | <a href="{% url "teacher" "3" "3" "0" %}">Teacher Entry</a></li>
                    <li><a href="{% url "week3_day3_pm" %}">Users: Customizing and Relationships</a> | <a href="{% url "teacher" "3" "3" "1" %}">Teacher Entry</a></li>
                    <li><a href="{% url "week3_lab" %}">Lab: Django App</a> | <a href="{% url "teacher" "3" "lab" "2" %}">Teacher Entry</a></li>
                </ul>
            </dd>
           </dl>
        {% else %}
        <dl class="accordion">
        <dt><h3>Week 1</h3></dt>
            <dd>
                <ul>
                    <li><a href="{% url "week1_day1" %}">Welcome and Introductions</a>
                    <li><a href="{% url "week1_day2" %}">Python Programs</a></li>
                    <li><a href="{% url "week1_day3" %}">Object-Oriented Python I</a></li>
                    <li><a href="{% url "week1_day4_am" %}">Object-Oriented Python II: Inheritance</a></li>
                    <li><a href="{% url "week1_day4_pm" %}">Object-Oriented Python II: Methods</a></li>
                </ul>
            </dd>
            <dt><h3>Week 2</h3></dt>
            <dd>
                <ul>
                    <li><a href="{% url "week2_day1_am" %}">File Manipulation</a></li>
                    <li><a href="{% url "week2_day1_pm" %}">Regex & CSV</a></li>
                    <li><a href="{% url "week2_day2_am" %}">Intro to Databases: Tables and Queries</a></li>
                    <li><a href="{% url "week2_day2_pm" %}">Intro to Databases: Functions & Relationships</a></li>
                    <li><a href="{% url "week2_day3_am" %}">ORM: Intro to Models</a></li>
                    <li><a href="{% url "week2_day3_pm" %}">ORM: Models and Relationships</a></li>
                    <li><a href="{% url "week2_day4_am" %}">Django Admin</a></li>
                    <li><a href="{% url "week2_day4_pm" %}">Migrations</a></li>
                    <li><a href="{% url "week2_day5_am" %}">Introduction to Web Frameworks and Django URLS, views, and templates</a></li>
                    <li><a href="{% url "week2_day5_pm" %}">Basic Django App: index, create, detail</a></li>
                </ul>
            </dd>
            <dt><h3>Week 3</h3></dt>
            <dd>
                <ul>
                    <li><a href="{% url "week3_day1_am" %}">Basic Django App: edit, delete</a></li>
                    <li><a href="{% url "week3_day1_pm" %}">Django Forms</a></li>
                    <li><a href="{% url "week3_day2_am" %}">Django Templating: Logic, Filters, and Tags</a></li>
                    <li><a href="{% url "week3_day2_pm" %}">Django Templating: Inheritance and Static Files</a></li>
                    <li><a href="{% url "week3_day3_am" %}">Users: Built-In Django Auth</a></li>
                    <li><a href="{% url "week3_day3_pm" %}">Users: Customizing and Relationships</a></li>
                    <li><a href="{% url "week3_lab" %}">Lab: Django App</a></li>
                </ul>
            </dd>
                </dl>
        {% endif %}
        </dl>
    </div>
</div>
<script src="/static/js/slides.js"></script>
</body>
</html>

