<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>{{ deck.name }}</h1>
{% for item in return_list %}
    <p>{{ item.slide.name }}</p>
    {{ item.slide.slide_number }}
    <p>{{ item.done }} <a href="{% url 'teacher_done' item.slide.url %}">done</a></p>
    <p>{{ item.questions }} questions</p>
    <p>{{ item.need_help }} needs help</p>
{% endfor %}
{% for slide in deck %}
    <p>{{ slide.name }}</p>
{#        {% for action in all_actions %}#}
{#            {% if slide == action.slide %}#}
{#                <p>{{ action.profile }} Done: {{ action.done }}</p>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#        {% for question in all_questions %}#}
{#            {% if slide == question.slide %}#}
{#                <p>{{ question.profile }}: {{ question.body }}</p>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{#        {% for action in all_actions %}#}
{#            {% if slide == action.slide %}#}
{#                <p>{{ action.profile }} Done: {{ action.need_help }}</p>#}
{#            {% endif %}#}
{#        {% endfor %}#}
{% endfor %}
</body>
</html>