{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
    <script src="{% static "js/jquery-1.11.1.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
{#    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>#}
</head>
<body>
    <h2>Profile</h2>
    {% if user.image %}
        <div><a href="{% url "profile" %}"><img height="150" width="150" class="img-circle" src='{{ user.image.url }}'></a></div>
    {% else %}
        <div><a href="{% url "profile" %}"><img height="150" width="150" src="{% static "img/Assets/default-profile-photo.png" %}"></a></div>
    {% endif %}
    <div class="panel-heading"> <span id="profile"> <b>{{ user.username }}</b> </span>, good to see you again!</div>
    <div class="panel-body"></div>
    <p><b>Real Name: </b>{{ user.real_name }}</p>
    <p><b>Email: </b> {{ user.email }}</p>
    <div class="clearfix"></div>
    <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">Change your real name</button>
<script>
    $(document).ready(function() {
            $('.btn-danger').popover({
                trigger: "click",
                placement: "right",
                title: "This is a default title",
                });
        });
  </script>

</body>
</html>