a:link {
    text-decoration: none;
}

.help_done {
    height: 60px;
}

.help {
    width: 48%;
    height: 100%;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.help_active {
    background-color: white;
    border: 2px solid red;
    color: red;
}

.done {
    width: 48%;
    height: 100%;
    background-color: limegreen;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.done_active {
    background-color: white;
    border: 2px solid limegreen;
    color: limegreen;
}

.question {
    margin-top: 30px;
    width: 100%;
    height: 300px;
    background-color: brown;
    color: white;
    border-radius: 5px;
    padding: 5%;
}

.question_content {
    width: 100%;
    height: 80%;
    outline: none;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.question_text {
    float: left;
    padding: 5px 5px 0 5px;
    height: 140px;
    width: 100%;
    border: none;
    border-radius: 5px;
    outline-style: none;
    resize: none;
}

.question_submit {
    padding: 5px;
    height: 50px;
    cursor: pointer;
    float: right;
    background-color: white;
    border-radius: 5px;
    outline-style: none;
}
