 /*HELP*/

.icon {
    height: 55px;
    margin-top: 20px;
    margin-bottom: 5px;
}

.scroll {
    overflow-y: auto;
    height: 30%;
}

.scroll-help {
    overflow-y: auto;
    height: 70%;
}

.scroll-question {
    overflow-y: auto;
    height: 70%;
}

.header {
    font-family: ProximaNova-Bold, sans-serif;
    font-size: 22px;
    text-align: left;
}

.help {
    color: #de544e;
}

.done {
    color: #1dd665;
}

.question {
    color: #c9aa16;
}

.help-header-hr {
    background-color: #de544e;
    height: 2px;
    margin-top: -10px;
}

.done-header-hr {
    background-color: #1dd665;
    height: 2px;
    margin-top: -10px;
}

.question-header-hr {
    background-color: #c9aa16;
    height: 2px;
    margin-top: -10px;
}

.user-photo {
    box-shadow: 0 2px 5px #888888;
    height: 35px;
    width: 35px;
}

.user-photo-div {
    margin-left: -3%;
    margin-bottom: 30px;
}

.user-name {
    color: black;
    margin-top: 14px;
    margin-left: -5%;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0.4px;
}

.user-name-not {
    margin-bottom: 48px;
}

.time {
    color: #dbdadb;
    margin-top: -4px;
    margin-left: -5%;
    font-size: 20px;
    text-align: left;
    letter-spacing: 0.4px;
    margin-bottom: 25px;
}

.help-status {
    margin-top: -7px;
}

.help-button {
    height: 52px;
    border: 3px solid #cc2930;
    margin-top: -13px;
    margin-bottom: 38px;
    background-color: #cc2930;
    color: white;
    margin-left: -10%;
    margin-right: -10%;
    width: 105%;
    outline-style: none;
}



.help-button-active {
    height: 52px;
    border: 3px solid #cc2930;
    margin-top: -13px;
    margin-bottom: 38px;
    margin-left: -10%;
    margin-right: -10%;
    width: 105%;
    outline-style: none;
    background-color: white;
    color: #cc2930;
}


.question-status {
    margin-top: -7px;
    /*height: 50px;*/
    /*border: 3px solid #c1a10a;*/
    /*margin-bottom: 10%;*/
    /*background-color: #c1a10a;*/
    /*color: white;*/
}

.question-button {
    height: 50px;
    border: 3px solid #c9aa16;
    margin-top: -13px;
    margin-bottom: 53px;
    background-color: #c9aa16;
    color: white;
    margin-left: -10%;
    margin-right: -10%;
    width: 105%;
    outline-style: none;
}

.question-button-active {
    height: 50px;
    border: 3px solid #c9aa16;
    margin-top: -13px;
    margin-bottom: 53px;
    background-color: white;
    color: #c1a10a;
    margin-left: -10%;
    margin-right: -10%;
    width: 105%;
    outline-style: none;
}

.status-text {
    margin-top: 4%;
    font-size: 20px;
}

.question-text {
    margin-top: 10px;
    margin-left: -5%;
    text-align: left;
    color: #9c9ca1;
    font-size: 20px;
    letter-spacing: 0.4px;
    line-height: 28px;
}


.test {
     border: 1px solid red;
}
