{% extends "base.html" %}
{% load staticfiles i18n %}

{% block presentation_title %}
    Django Models
{% endblock %}

{% block slides %}
<section>
    <h2>Django!</h2>
    <p>This morning we'll be setting up our first Django project.</p>
    <ul>
        <li>First, we just want to get a Django project running.</li>
        <li>We're going to go through a list of instructions, but not focus on every single detail. We'll do that in another lesson soon.</li>
        <li>The goal is not to fully explore Django, but understand how Django helps us interact with the database, which we learned about last class.</li>
        <li>Soon we'll do a deep dive into all of Django.</li>
    </ul>
</section>

<section>
    <section>
        <h2>New Django Project - Project Folder</h2>
        <p>Let's create a directory on our computer where we're going to save all of our Django projects.</p>
        <ul>
            <li>Personally I use a directory simply named <code>projects</code> in my root folder</li>
            <li>I can always get there by running <code>cd ~/projects</code></li>
            <li>Make this folder, whatever you'd like to call it, and make sure your terminal is now in that directory.</li>
        </ul>
    </section>

    <section>
        <h2>New Django Project - Virtualenv?</h2>
        <p>What is this virtual environment thing?</p>
        <ul>
            <li>Virtual environments help us organize the python packages we're using in our project.</li>
            <li>Imagine you start a new project and you start using the latest version of Django.</li>
            <li>You're work then has you start working on an older project that is using an earlier version of Django.</li>
            <li>If you have the latest version of Django installed, then you can't work on the older project and vice versa.</li>
            <li>This is where virtualenvs help!</li>
            <li>It creates a 'virtual' python environment for each of our projects.</li>
            <li>This means we can install different python packages in each of our virtualenvs and no longer have to worry about conflicts.</li>
        </ul>
    </section>

    <section>
        <h2>New Django Project - Create Virtualenv</h2>
        <p>Let's create our first virtualenv</p>
        <ul>
            <li>During the installfest we already installed virtualenv and virtualenvwrapper.</li>
            <li>Virtualenvwrapper gives us some handy tools on our command line to create and activate our virtual environments.</li>
            <li>First, let's make our new virtualenv, which we'll call 'writers'.</li>
            <li>Run <code>mkvirtualenv writers</code></li>
            <li>If this does not work edit your <code>~/.bash_profile</code> and put this line in it <code>source "/usr/local/bin/virtualenvwrapper.sh"</code> then open up a new tab in your terminal.</li>
            <li>Now we're inside of a virtualenv! Your command line should say <code>(writers)</code> to show you're inside of it.</li>
            <li>Run <code>deactivate</code>, this will take you outside of your virtualenv.</li>
            <li>Now run <code>workon writers</code> to get back inside of it.</li>
        </ul>
    </section>

    <section>
        <h2>New Django Project - Start Django</h2>
        <p>Let's get the Django project created.</p>
        <ul>
            <li>Run <code>pip install django</code>, this will install the latest version of django in your virtualenv.</li>
            <li>Run <code>pip install psycopg2</code>, this will install the python package which helps python talk to PostgreSQL.</li>
            <li>Run <code>django-admin.py startproject writers</code>, this will create our new django project files.</li>
            <li>We need to create the database we'll use for this project
                <ul>
                    <li>Run <code>postgres -D /usr/local/var/postgres</code> if your database isn't running</li>
                    <li>Run <code>psql postgres</code> then <code>create database writers;</code> to create the database for our project.</li>
                </ul>
            </li>
            <li>Now let's open this new project, writers, in an entirely new window in PyCharm.</li>
        </ul>
    </section>

    <section>
        <h2>New Django Project - Local Settings</h2>
        <p>Let's hook up our database to Django.</p>
        <ul>
            <li>Under the main folder, on the same level as <code>manage.py</code>, create a new file called <code>local_settings.py</code>.</li>
            <li>Copy and past the below code into this file. This is telling our Django project to use the <code>writers</code> database we just created.</li>
        </ul>
        <div>
            <pre><code class="python">
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'writers',
    }
}
            </code></pre>
        </div>
    </section>

    <section>
        <h2>New Django Project - Local Settings 2</h2>
        <ul>
            <li>Open your <code>settings.py</code> and copy and paste the below code in at the bottom of the file. This code tells our settings file to read from our local_settings file.</li>
            <div>
                <pre><code class="python">
try:
    from local_settings import *
except ImportError:
    pass
                </code></pre>
            </div>
            <li>We use a local settings file, because when we have a project on our computers for development, we want to use different settings than if it was in production. For example, we may have more secure names and passwords for our database in production.</li>
        </ul>
    </section>

    <section>
        <h2>New Django Project - PyCharm</h2>
        <p>We're almost there! We need to tell PyCharm about the virtualenv we created that has our python package we'll be using for this project.</p>
        <ol>
            <li>Click on PyCharm -> Preferences</li>
            <li>Click on Project Interpreter</li>
            <li>Click on the Gear Icon -> Add Local</li>
            <li>Go to your home directory -> .virtualenvs -> writers -> bin</li>
            <li>Choose the file that's just called <code>python</code></li>
        </ol>
        <p>Now PyCharm knows about where our virtualenv is. That folder we just found is literally where virtualenv installs our python packages when we do <code>pip install</code></p>
    </section>

    <section>
        <h2>New Django Project - Test</h2>
        <p>We should be all set to try it out!</p>
        <ol>
            <li>Click the green play button in the top right corner of PyCharm. This runs our local Django development web server.</li>
            <li>Your console should show a link to <a href="http://127.0.0.1:8000">http://127.0.0.1:8000</a>, click on it.</li>
            <li>We should get the defacto your Django website is up page!</li>
        </ol>
    </section>

    <section>
        <h2>New Django Project - Recap</h2>
        <ul>
            <li>Unfortunately, you will have to do this process every time you start a new Django project.</li>
            <li>Luckily, from here on out we'll be making a new Django project almost every day, so you'll have a ton of practice.</li>
            <li>Soon it will become second nature to go through these steps, but make sure you keep these as a reference.</li>
            <li>We'll be building on this setup process as we add more tools we use with Django in future lessons.</li>
        </ul>
    </section>
</section>

<section>
    <section>
        <h2>Django ORM</h2>
        <p>The Django ORM (Object-Relational Mapping) is a python abstraction on top of PostgreSQL, which allows us to write python code, which interacts with the database.</p>
        <p>This means, we can write python code to create tables, insert data into tables, and query tables just as we saw in yesterday's lesson.</p>
        <ul>
            <li>The ORM also does not care what kind of database we're using. We would write the same python code if the backend was sqlite or MySQL.</li>
            <li>We also don't have to worry about writing such complex queries. The ORM makes it easier to get data between related tables.</li>
            <li>Sometimes the ORM doesn't do exactly what we need or is slow, but we always have the ability to execute a raw SQL query if we'd like to.</li>
        </ul>
    </section>

    <section>
        <h2>Django App</h2>
        <p>Let's create our first Django app in our writer's project called blog.</p>
        <ul>
            <li>Inside our writer's folder, on the same level as manage.py, let's run <code>python manage.py startapp blog</code>. This is the built in command to create a new Django app.</li>
            <li>Django projects are made up of multiple Django applications. Each app is supposed to focus on a small set of functionality. This helps us write modular code.</li>
            <li>Often times it can be a pain to try to name our project differently than our first app, but choose your names wisely cause you're usually stuck with them once a project has started!</li>
            <li>Next, we need to register our new app with our Django project, open <code>settings.py</code> and in <code>INSTALLED_APPS</code> add <code>'blog'</code> to the end of the list.</li>
        </ul>
    </section>

    <section>
        <h2>Django Models</h2>
        <p>How do Django models work?</p>
        <ul>
            <li>To represent a table in our database, we create a model in Django.</li>
            <li>A model is just a subclass we create that inherits from a class that Django defines called <code>Model</code></li>
            <li>Every field we define on the model corresponds to a column on our table.</li>
            <li>Our models always belong in our app's <code>models.py</code> file. Never put them anywhere else!</li>
        </ul>
    </section>

    <section>
        <h2>Author Model</h2>
        <div>Now everything's ready for us to create our first Django model.</div>
        <div class="col-8">
            <pre><code class="python">class Author(models.Model):
    name = models.CharField(max_length=120)
    twitter = models.CharField(max_length=40, null=True)

    def __unicode__(self):
        return u"{}".format(self.name)</code></pre>
        </div>
        <ul style="clear:both;">
            <li>Copy this Author model into <code>models.py</code> inside of our blog application.</li>
            <li>A model is just a subclass we create that inherits from a class that Django defines called <code>Model</code></li>
            <li>Every field we define on the model corresponds to a column on our table.</li>
            <li>Our models always belong in our app's <code>models.py</code> file. Never put them anywhere else!</li>
            <li>We have the same fields we saw in yesterday's lesson. We have a name field, that is a <code>CharField</code> with a <code>max_length</code> of 120.</li>
            <li>And we have a twitter field, that is a <code>CharField</code> with <code>max_length</code> of 40.</li>
            <li>This represents the same exact table we created yesterday, the auto incrementing id field as a primary key is implied in Django if you don't specify one.</li>
        </ul>
    </section>

    <section>
        <h2>Migrate</h2>
        <p>We've got our model, now let's create the table.</p>
        <div>
            <ul>
                <li>Django's ORM can handle creating database tables for us.</li>
                <li>Let's run <code>python manage.py makemigrations</code>. This will tell Django to look for any new models we've defined.</li>
                <li>Now we'll run <code>python manage.py migrate</code>, which will actually create the database tables for us. We'll learn more about this later.</li>
                <li>You'll notice, all of our Django specific commands are run by using <code>python manage.py</code>, if you want to see a list of all of the Django commands available, run <code>python manage.py help</code></li>
                <li>Let's go to our database, <code>psql writers</code> and let's checkout our tables <code>\d</code>.</li>
                <li>Notice our table is called <code>blog_author</code>. This is because Django prefixes our model names with it's application name</li>
                <li>Let's inspect our <code>blog_author</code> table, <code>\d blog_author</code>. We can see that it looks almost exactly the same as our manually created one.</li>
            </ul>
        </div>
    </section>
</section>

<section>
    <section>
        <h2>Save Model Data</h2>
        <p>We've got a table created, let's put in some data.</p>
        <div>
            <pre><code class="python">
from blog.models import Author

dr_seuss = Author(name='Dr. Seuss', twitter='@TheDoctor')
dr_seuss.save()

Author.objects.create(name='George R. Martin', twitter='@YourFavoriteCharactersDead')
Author.objects.create(name='Mark Twain')
            </code></pre>
        </div>
        <div style="clear:both;">
            <ul>
                <li>First let's open up Django's shell, <code>python manage.py shell</code>. This is like the python interpreter, but with all of Django's functionality loaded in.</li>
                <li>Now we can run the above commands. This creates a new Author object. These python instances of our Author model class can also be saved, which save to our table in the database.</li>
                <li>This second way, is a shortcut to quickly make a new Author object and save it at the same time.</li>
                <li>Let's go to our database, <code>psql writers</code> and let's quickly run a select query just to see that our new data is there.</li>
            </ul>
        </div>
    </section>

    <section>
        <h2>Do it Yourself</h2>
        <p>Let's save some more authors to our database.</p>
        <ol>
            <li>Name: Edgar Allan Poe, Twitter: @PoeKnows</li>
            <li>Make up two new authors to add to your table.</li>
        </ol>
    </section>

    <section>
        <h2>Querying Model Data</h2>
        <p>We've got a model with some data populated, let's see how to query it.</p>
        <div class="col-8">
            <pre><code class="python">
from blog.models import Author

all_authors = Author.objects.all()
for author in all_authors:
    print author.name, author.twitter
            </code></pre>
        </div>
        <div style="clear:both;">
            <ul>
                <li>The first line is the Django model equivalent to <code>SELECt * FROM author;</code>. It should return all of the authors in the all_authors variable.</li>
                <li>This variable is a Django <code>Queryset</code>, which is iterable.</li>
                <li>We can loop over our <code>all_authors</code> list and print each author object out.</li>
                <li>We access the table column values just as we would access the fields of a regular python class.</li>
            </ul>
        </div>
    </section>

   <section>
        <h2>Querying Model Data (Cont.)</h2>
        <p>We've got a model with some data populated, let's see how to query it.</p>
        <div class="col-8">
            <pre><code class="python">
from blog.models import Author

dr_seuss = Author.objects.get(pk=1)

# List of all authors besides Dr. Seuss
authors = Author.objects.filter(pk__gt=1)
            </code></pre>
        </div>
        <div style="clear:both;">
            <ul>
                <li>We can get a single object by using the <code>get</code> method and specifying what primary key we're looking for.</li>
                <li>We can look for a list of objects by using the <code>filter</code> method and specifying conditional statements using any of this table's fields.</li>
                <li>Look at the <a href="https://docs.djangoproject.com/en/1.6/ref/models/querysets/#field-lookups">Django documentation</a> for a list of all the query types.</li>
                <li>These are running the same types of queries we did yesterday in the database.</li>
            </ul>
        </div>
    </section>

   <section>
        <h2>Do it Yourself</h2>
        <ul>
            <li>Get the author with the primary key 4.</li>
            <li>Get all authors with a primary key less than 4</li>
            <li>Get all authors that have a twitter defined.</li>
        </ul>
    </section>
</section>

<section>
    <section>
        <h2>Model Update & Delete</h2>
        <div>Let's see how we would update or delete using models.</div>
        <div class="col-8">
            <pre><code class="python">from blog.models import Author

# Get the author
author = Author.objects.get(pk=4)

# Change and save their twitter handle
author.twitter = '@NewHandle'
author.save()

# Delete the author
author.delete()

# Now throws an error
author = Author.objects.get(pk=4)</code></pre>
        </div>
        <div style="clear:both;">
            <ul>
                <li>First we get the author, then we're able to change any fields on the model, then save it back to the database.</li>
                <li>Next, all we have to do is call the model's <code>delete</code> method to remove it from the db.</li>
                <li>When we try to get the author again, Django gives us an error, because it no longer exists.</li>
            </ul>
        </div>
    </section>

    <section>
        <h2>Model Ordering & Limiting</h2>
        <div>We can also order and limit our queries, just like we did yesterday.</div>
        <div class="col-8">
            <pre><code class="python">
from blog.models import Author

alphabetical_authors = Author.objects.order_by('name')
reverse_authors = Author.objects.order_by('-name')

authors = Author.objects.all()[:1]
            </code></pre>
        </div>
        <div style="clear:both;">
            <ul>
                <li>Our model has a built in method called <code>order_by</code>, which we can use at the end of any queryset. It expects the name(s) of the fields to order by.</li>
                <li>By default, it orders by ascending. If we want to order by descending, we add a <code>-</code> in front of the column name.</li>
                <li>To limit a queryset, we use python's list splicing functionality, since the queryset is ultimately just a list. This gets us just one result back.</li>
            </ul>
        </div>
    </section>

    <section>
        <h2>Do it Yourself</h2>
        <p>Let's practice a bit of the basics we just learned with Django models</p>
        <ul>
            <li>Get a list of all authors whose name is 'Dr. Seuss'.</li>
            <li>Get a list of all authors ordered alphabetically by their twitter handle</li>
            <li>Get a list of all authors ordered by their primary key, descending limited to 2 results.</li>
        </ul>
    </section>
</section>

{% endblock %}