{% extends "base.html" %}
{% load staticfiles i18n %}

{% block presentation_title %}
    Django Admin
{% endblock %}

{% block slides %}
<section>
    <h2>Django admin site</h2>
    <p>One of Django's more powerful features is that it comes with a built-in option for an automatic admin interface. This admin gives you a visual output of your database models, allowing you to more easily see relationships and to create new records.</p>
    <p>Before we go any further with our model relationships, we are going to add this admin interface so you can more easily visualize the changes you are making.</p>
</section>

<section>
    <section>
        <h2>Running the admin (1 of 2)</h2>
        <ol>
            <li>In your terminal, go to the folder containing your Django project</li>
            <li>Make sure you are in the folder that contains <code>manage.py</code></li>
            <li>Run <code>python manage.py runserver</code></li>
            <li>Open your browser and navigate to http://127.0.0.1:8000/. You’ll see a “Welcome to Django” page, in pleasant, light-blue pastel. This is Django's default page just to let you know your project is running successfully</li>
            <li>Now navigate to http://127.0.0.1:8000/admin/. You should see the admin login screen:
                <img src="{% static "img/admin01.png" %}"/>
                If you receive some sort of error message instead, try following the debug steps <a href="#/3">here</a>
            </li>
        </ol>
    </section>
    <section>
        <h2>Running the admin (2 of 2)</h2>
        <ol start="6">
            <li>If you created a superuser last week, login with those credentials</li>
            <li>If you did not create a superuser or cannot recall your credentials, run <code>python manage.py createsuperuser</code> and follow the prompts to create your superuser account</li>
            <li>When you log in to the admin site, you should see the default Django admin index page:
                <img src="{% static "img/admin02.png" %}"/>
                You should see a few types of editable content: groups and users. They are provided by <code>django.contrib.auth</code>, the authentication framework shipped by Django.
            </li>
        </ol>
    </section>
</section>

<section>
    <section>
        <h2>Setting up the admin</h2>
        <p>The default Django settings make it easy to run the admin, but if you encountered any issues, make sure you check against the steps below.</p>
        <div>
            <div class="col-6">Add 'django.contrib.admin' to your INSTALLED_APPS setting. The admin has four dependencies - django.contrib.auth, django.contrib.contenttypes, django.contrib.messages and django.contrib.sessions. If these applications are not in your INSTALLED_APPS list, add them.</div>
            <div class="col-5 col-offset-1"><pre><code class="python">INSTALLED_APPS = (
    "django.contrib.admin",
    "django.contrib.auth",
    "django.contrib.contenttypes",
    "django.contrib.sessions",
    "django.contrib.messages",
    "django.contrib.staticfiles",
    "YOUR APP",
)</code></pre></div>
            <div class="clear"></div>
        </div>
        <div>Add django.contrib.messages.context_processors.messages to TEMPLATE_CONTEXT_PROCESSORS as well as django.contrib.auth.middleware.AuthenticationMiddleware and django.contrib.messages.middleware.MessageMiddleware to MIDDLEWARE_CLASSES. (These are all active by default, so you only need to do this if you’ve manually tweaked the settings.)</div>
    </section>
</section>

<section>
    <h2>Adding your apps to the admin</h2>
    <p>Of course, we don't just want to see Django's built-in models, but also the models we created</p>
    <ol>
        <li>Open the admin.py file inside your app</li>
        <li>Add the following code:
<pre><code>
from django.contrib import admin
from your_app.models import YourModel

admin.site.register(YourModel)
</code></pre>
        </li>
        <li>Refresh your admin view and click on one of your models. You'll now be at the "change list" page for that model. It will display all the database records of that model. You can edit your existing records or add new ones. The form is automatically generated by Django based on the fields on your model.</li>
    </ol>
</section>

<section>
    <h2>Do it yourself</h2>
    <p>The docs will become your best friend over the next couple of months. Getting used to reading it, navigating it and finding what you need will be an important skill for you to have. For this exercise, it will be on you to figure out how to implement each bullet point using the <a target="_blank" href="https://docs.djangoproject.com/en/dev/ref/contrib/admin/">admin's documentation</a>.</p>

    <h4>Beginner</h4>
    <ol>
        <li>Register all of your models in your application in the admin. Create a new instance of each using the admin then check they were created using your shell.</li>
        <li>Create a custom admin for your Post model. Have your admin list page only show the fields: title, body and author (no id field).</li>
        <li>Create a custom admin for your Author model. Have your admin detail page only show the name field for editing (hide the twitter field).</li>
    </ol>

    <h4>Advanced</h4>
    <ol>
        <li>For your Post model, set up a list filter for the author field, so you can search quickly for posts by a specific author only.</li>
        <li>For your Tag model, have the posts many to many field use the "filter horizontal" UI widget instead of the normal multi-select box.</li>
        <li>Set up an inline admin for your Post model, which will show all comments for that Post on the detail page.</li>
    </ol>

    <p>If things are still fuzzy to you, follow the admin portion of the <a target="_blank" href="https://docs.djangoproject.com/en/1.6/intro/tutorial02/">Django Tutorial</a> for more of a guide.</p>
</section>

{% endblock %}